.box{
    border:2px solid;
    border-radius: 10px;
    border-color: grey;
    width: 350px;
    height: 300px;
}

.table1{
    display: inline-flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.quickAdd{
    background-color: grey;
    border-radius: 10px;
    padding: 10px;
    max-width: 400px;
}

.quickBtn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 100px;
    min-height: 100px;
}

.bigBtn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.bigBtn:hover{
    background-color: rgb(187, 145, 145);
}


.table-header{
    color:white;
    font-size: 1.25rem;
}
